@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
 padding:0;
 margin: 0;
 box-sizing: border-box;
}

html{
    height: 100%;
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


header {
    margin-top: 1rem;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: 'Raleway', sans-serif;
}

.title {
color: #00416A;  /* fallback for old browsers */
color: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;    
}


.links h1 {
    margin-left:25px;
}

.contact:hover {
    border-bottom: 1px solid black;
}

.link:hover {
    border-bottom: 1px solid black;
}

.documentation:hover {
    border-bottom: 1px solid black;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.content{
    margin:80px;    
    padding:60px;
    word-spacing: 3.3px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color:black;
}

#download {
    padding:1rem;
    font-size: 1rem;
    border-radius:1rem;
    border:1px solid black;
    margin:2rem;
}

#download:hover,
#download:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  background-color: #d16ba5;
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 15px;   
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 8px;
    }
    .links h1 {
        padding:5px;
    }
    .content{    
        word-spacing: 1px;
        font-weight: 400;
        margin:50px;
        padding:0px;
  }
}